# Lab | Not hot songs

In [1]:
import pandas as pd
import numpy as np

In [2]:
ls Lab_Afternoon/Files_for_lab/

ls: Lab_Afternoon/Files_for_lab/: No such file or directory

In [3]:
spotify_data = pd.read_csv('Files_for_lab/Spotify_final_dataset.csv')

In [4]:
spotify_data.head()

,Position,Artist Name,Song Name,Days,Top 10 (xTimes),Peak Position,Peak Position (xTimes),Peak Streams,Total Streams
0,1,Post Malone,Sunflower SpiderMan: Into the SpiderVerse,1506,302.0,1,(x29),2118242,883369738
1,2,Juice WRLD,Lucid Dreams,1673,178.0,1,(x20),2127668,864832399
2,3,Lil Uzi Vert,XO TOUR Llif3,1853,212.0,1,(x4),1660502,781153024
3,4,J. Cole,No Role Modelz,2547,6.0,7,0,659366,734857487
4,5,Post Malone,rockstar,1223,186.0,1,(x124),2905678,718865961

In [5]:
spotify_data = spotify_data[['Artist Name','Song Name']]

In [6]:
cols = []
for col in spotify_data.columns:
  cols.append(col.lower().replace(' ', '_'))
spotify_data.columns = cols

In [7]:
top100 = pd.read_csv('Files_for_lab/top_100.csv')

In [8]:
top100 = top100.drop(columns='Number')

In [9]:
top100.head()

        Song                                Artist
0    Flowers                           Miley Cyrus
1  Kill Bill                                   SZA
2   Creepin'  Metro Boomin, The Weeknd & 21 Savage
3  Anti-Hero                          Taylor Swift
4     Unholy                Sam Smith & Kim Petras

In [10]:
top100[top100['Artist']=='Taylor Swift']

             Song        Artist
3       Anti-Hero  Taylor Swift
18  Lavender Haze  Taylor Swift

### cleaning words

In [11]:
top100['Artist'] = top100['Artist'].str.lower()
top100['Artist'] = top100['Artist'].str.replace(' ', '_')
spotify_data['artist_name'] = spotify_data['artist_name'].str.lower()
spotify_data['artist_name'] = spotify_data['artist_name'].str.replace(' ', '_')
spotify_data['artist_name'] = spotify_data['artist_name'].str.rstrip('_')
spotify_data['song_name'] = spotify_data['song_name'].str.lower()
spotify_data['song_name'] = spotify_data['song_name'].str.replace(' ', '_')
top100['Song'] = top100['Song'].str.lower()
top100['Song'] = top100['Song'].str.replace(' ', '_')

# Trying Rihanna

In [12]:
rihanna_spotify = spotify_data[spotify_data['artist_name']=='rihanna']

In [13]:
rihanna_top100 = top100[top100['Artist']=='rihanna']

In [14]:
rihanna_spotify

      artist_name                   song_name
150       rihanna                   needed_me
194       rihanna                        work
653       rihanna           love_on_the_brain
788       rihanna  bitch_better_have_my_money
884       rihanna             fourfiveseconds
1774      rihanna              kiss_it_better
1937      rihanna                 sex_with_me
2007      rihanna                  lift_me_up
2440      rihanna                   desperado
2839      rihanna             american_oxygen
3385      rihanna               consideration
3731      rihanna                   disturbia
3748      rihanna             yeah,_i_said_it
4557      rihanna                         woo
4561      rihanna           same_ol’_mistakes
5447      rihanna                      higher
5832      rihanna                  born_again
7259      rihanna                 james_joint
7406      rihanna                never_ending
7438      rihanna                close_to_you
8201      rihanna    lift_me_up__instrumental
10586     rihanna                sledgehammer
10678     rihanna                    umbrella
10937     rihanna        don't_stop_the_music
11054     rihanna               pon_de_replay

In [15]:
rihanna_top100

          Song   Artist
50  lift_me_up  rihanna

In [16]:
rihanna_spotify['check'] = rihanna_spotify['song_name'].isin(rihanna_top100['Song'])

rihanna_spotify

/var/folders/2b/6f80d7g11sl53b_wrqy2w81r0000gn/T/ipykernel_68311/1541454873.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rihanna_spotify['check'] = rihanna_spotify['song_name'].isin(rihanna_top100['Song'])

      artist_name                   song_name  check
150       rihanna                   needed_me  False
194       rihanna                        work  False
653       rihanna           love_on_the_brain  False
788       rihanna  bitch_better_have_my_money  False
884       rihanna             fourfiveseconds  False
1774      rihanna              kiss_it_better  False
1937      rihanna                 sex_with_me  False
2007      rihanna                  lift_me_up   True
2440      rihanna                   desperado  False
2839      rihanna             american_oxygen  False
3385      rihanna               consideration  False
3731      rihanna                   disturbia  False
3748      rihanna             yeah,_i_said_it  False
4557      rihanna                         woo  False
4561      rihanna           same_ol’_mistakes  False
5447      rihanna                      higher  False
5832      rihanna                  born_again  False
7259      rihanna                 james_joint  False
7406      rihanna                never_ending  False
7438      rihanna                close_to_you  False
8201      rihanna    lift_me_up__instrumental  False
10586     rihanna                sledgehammer  False
10678     rihanna                    umbrella  False
10937     rihanna        don't_stop_the_music  False
11054     rihanna               pon_de_replay  False

In [17]:
spotify_data['check'] = spotify_data['song_name'].isin(top100['Song'])
spotify_data[spotify_data['check']==True]

             artist_name           song_name  check
51          harry_styles           as_it_was   True
136           the_weeknd         die_for_you   True
139           steve_lacy           bad_habit   True
290               future          wait_for_u   True
316                lizzo     about_damn_time   True
...                  ...                 ...    ...
7885       lainey_wilson  heart_like_a_truck   True
8577                 nav                snap   True
8671   sabrina_carpenter            nonsense   True
10780                sia         unstoppable   True
10850           flo_rida                 low   True

[84 rows x 3 columns]

In [18]:
spotify_data[spotify_data['check']==False]

             artist_name                                   song_name  check
0            post_malone  sunflower__spiderman:_into_the_spiderverse  False
1             juice_wrld                                lucid_dreams  False
2           lil_uzi_vert                               xo_tour_llif3  False
3                j._cole                              no_role_modelz  False
4            post_malone                                    rockstar  False
...                  ...                                         ...    ...
11079     the_band_perry                              if_i_die_young  False
11080  justin_timberlake                             not_a_bad_thing  False
11081     mike_will_made                                      it__23  False
11082          the_vamps                             somebody_to_you  False
11083                jay                               z__holy_grail  False

[11000 rows x 3 columns]

In [19]:
spotify_data = spotify_data.drop_duplicates()

In [21]:
spotify_data = spotify_data[['song_name','artist_name']]

In [22]:
spotify_data = spotify_data.rename(columns={'song_name':'song','artist_name':'artist'})

In [23]:
top100 = top100.rename(columns={'Song':'song','Artist':'artist'})

In [24]:
spotify_data.shape

(10943, 2)